[
    {web_auth, [
        {connection_pool_size, 10},
        {services, [
            {google, [
                {client_id, <<>>},
                {client_secret, <<>>},
                {main_api, <<"www.googleapis.com">>},
                {auth_api, <<"accounts.google.com">>},
                {auth_path, <<"/o/oauth2/v2/auth">>},
                {token_path, <<"/oauth2/v4/token">>},
                {userinfo_path, <<"/oauth2/v1/userinfo">>},
                {userinfo_email, <<"/auth/userinfo.email">>},
                {redirect_uri, <<"http://localhost:8001/google_auth">>}
            ]}
        ]}
    ]} 
].
